body{
    padding: 0;  /*La separación que existe entre el elemento y el borde */
    margin: 0;  /*La separación que exite entre los demás elementos */
    font-size: 30px;
    line-height: 34px;
}

header{


}

.navbar{
    background-color: aqua;
    font-size: 20px!important;
}